<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ndhunju.dailyjournal"
    android:versionCode="35"
    android:versionName="4.0.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- needed for using DownloadManager as well-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.ndhunju.dailyjournal.controller.DailyJournalApplication"
        android:allowBackup="true"
        android:description="@string/app_descrip"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.ndhunju.dailyjournal.controller.service.NotificationService"
            android:exported="false" />
        <service
            android:name="com.ndhunju.dailyjournal.controller.service.AutoBackupService"
            android:exported="false" />

        <service android:name=".controller.service.AutoBackupJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity
            android:name=".controller.CompanySettingsActivity"
            android:label="@string/title_activity_company_settings"
            />

        <activity android:name="com.ndhunju.dailyjournal.controller.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ndhunju.dailyjournal.controller.journal.JournalNewActivity"
            android:windowSoftInputMode="stateHidden" />
       <!-- <activity
            android:name=".controller.party.PartyListActivityOld"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".controller.party.PartyLedgerActivityOld"
            android:windowSoftInputMode="stateHidden" />-->
        <activity
            android:name="com.ndhunju.dailyjournal.controller.party.PartyActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ndhunju.dailyjournal.viewPager.AttachmentViewPagerActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- https://developers.google.com/drive/android/java-client -->
        <activity
            android:name="com.ndhunju.dailyjournal.controller.lock.LockScreenActivity"
            android:label="@string/title_activity_lock_screen" />
        <activity
            android:name="com.ndhunju.dailyjournal.controller.party.PartyListActivity"
            android:label="@string/title_item_list"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ndhunju.dailyjournal.controller.party.PartyDetailActivity"
            android:label="@string/title_item_detail" >
        </activity>
        <activity
            android:name="com.ndhunju.dailyjournal.controller.preference.MyPreferenceActivity"
            android:label="@string/str_preference" />

        <receiver android:name="com.ndhunju.dailyjournal.controller.AlarmReceiver" >
        </receiver>

        <activity
            android:name="com.ndhunju.dailyjournal.controller.ChartsActivity"
            android:label="@string/title_activity_charts" >
        </activity>

        <activity android:name="com.ndhunju.dailyjournal.controller.JournalPagerActivity"
            android:label="@string/title_activity_journal"/>

        <activity android:name="com.ndhunju.dailyjournal.controller.backup.BackupActivity"
            android:label="@string/str_backup"/>

        <activity android:name="com.ndhunju.dailyjournal.controller.SpannedLedgerListActivity"
            android:label="@string/str_journal"/>

        <activity android:name="com.ndhunju.dailyjournal.controller.SearchNotesActivity"/>

        <activity android:name="com.ndhunju.dailyjournal.controller.ToolsActivity"
            android:label="@string/str_tools"/>

        <activity android:name=".controller.backup.GoogleDriveRestApiRestoreBackupActivity"
            android:screenOrientation="locked"
            android:label="@string/str_restore_backup_from_google_drive"/>

        <activity android:name=".controller.backup.GoogleDriveRestApiUploadBackupActivity"
            android:screenOrientation="locked"
            android:label="@string/str_create_backup_in_google_drive"/>

        <activity android:name=".controller.backup.GoogleDriveRestoreBackupActivity"
            android:screenOrientation="locked"
            android:label="@string/str_backup"/>

        <activity android:name=".controller.backup.GoogleDriveUploadBackupActivity"
            android:screenOrientation="locked"
            android:label="@string/str_backup"/>

        <activity android:name=".controller.erase.EraseActivity"
            android:label="@string/title_activity_erase"/>

        <activity android:name=".controller.StartNextYearActivity"
            android:label="@string/title_activity_start_next_year"/>

        <activity android:name=".controller.DailyReportActivity"
            android:label="@string/title_activity_daily_report"/>

        <activity android:name=".controller.backup.GoogleDriveSignInActivity" />

        <activity android:name=".controller.export.ExportPrintableActivity"
            android:label="@string/str_export_printable"/>

    </application>

</manifest>
